# Ignore actual data files (but not their DVC trackers)
data/**/*.csv
!data/**/*.dvc

# Ignore heavy model binaries but not model folders or DVC trackers
notebooks/models/**/*.bin
notebooks/models/**/*.safetensors
notebooks/models/**/*.pt
notebooks/models/**/*.h5
notebooks/models/**/*.ckpt
!notebooks/models/**/*.dvc

# Ignore local virtual environment
.moodflow/

# Ignore MLflow experiment folders
mlruns/
mlartifacts/
